{% extends "base.html"%} {% load static %} {% block content %}
<!-- section -->

<section class="inner_banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="full">
                    <h3>About us</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end section -->

<!-- section -->
<div class="section margin-top_50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 layout_padding_2">
                <div class="full">
                    <div class="heading_main text_align_left">
                        <h2><span>Welcome To Career Specs</span></h2>
                    </div>
                    <div class="full">
                        <p>The Stream Analysis System aims to simplify and streamline the process of choosing a suitable academic stream for 12th-grade students. By utilizing user information, conducting assessments, and providing course and college recommendations,
                            the system empowers students to make well-informed decisions about their academic and career paths.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="full" style=" border:4px solid aquamarine;border-radius: 10px; box-shadow: 15px 15px 5px rgba(64, 185, 157, 0.5);">
                    <img src="{% static 'images/about1.jpg' %}" alt="about1 image" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center">
                        <h2><span>Peerless </span>Features</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="full blog_img_popular">
                    <img class="img-responsive" src="{% static 'images/test_about.png' %}" alt="#" height="265px" />
                    <h4>Customize Test For You!!</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="full blog_img_popular">
                    <img class="img-responsive" src="{% static 'images/cs3.png' %}" alt="#" height="265px" width="300px" />
                    <h4>Pursue Top-Notch Course</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="full blog_img_popular">
                    <img class="img-responsive" src="{% static 'images/college_about.png' %}" alt="#" height="265px" />
                    <h4>Recommend Colleges </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- end section -->