{% extends "base.html" %} {% load static %} {% block content %}
<!-- section -->
<section class="inner_banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="full">
                    <h3>Change Password</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- contact section -->
<section class="contact_section layout_padding" style="
    background-color: unset;
    background-blend-mode:color-burn;
    background-size:cover;
    background-image: url('../static/images/prof3.jpg');
    height: 100vh;
    ">
    <div class="container">
        <div class="heading_container heading_center">
            <script>
                function check() {
                    if (document.getElementById('new-password').value ==
                        document.getElementById('confirm-password').value) {
                        document.getElementById('message').style.color = 'green';
                        document.getElementById('message').innerHTML = 'Matching';
                        document.getElementById("submit").disabled = false
                        if (document.getElementById('new-password').value == "" || document.getElementById('confirm-password').value == "") {
                            document.getElementById('message').style.color = 'white';
                            document.getElementById('message').innerHTML = 'Password can\'t be empty';
                            document.getElementById("submit").disabled = true
                        }
                    } else {
                        document.getElementById('message').style.color = 'red';
                        document.getElementById('message').innerHTML = 'Not Matching';
                    }
                }
                setInterval(() => {
                    check()
                }, 250);
            </script>

            <label id="password_changed" style="display:none;">
              <input type="checkbox" class="alertCheckbox" autocomplete="off" />
              <div class="alert error">
                <span class="alertClose">X</span>
                <span class="alertText">Password Changed.
                <br class="error"/></span>
              </div>
            </label>

            <script>
                const searchParams = new URLSearchParams(window.location.search);
                if (searchParams.has('password_changed')) {
                    document.getElementById("password_changed").style.display = "block";
                }
            </script>
        </div>
        <table class="table table-borderless text-light" style="-webkit-text-fill-color: midnightblue;">
            <form method="POST" action="" onsubmit="alert('Password changed successfully.')">
                {% csrf_token %}
                <tr>
                    <th>E-mail:</th>
                    <td><input type="email" name="uEmail" placeholder="E-mail" style="border-radius: 7px;" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" /></td>
                </tr>
                <tr>
                    <th>New-password:</th>
                    <td><input id="new-password" type="password" name="uPass" required pattern="{.5,}" placeholder="New Password" style="border-radius: 7px;" />
                        <td>
                </tr>
                <tr>
                    <th> Confirm-Password:</th>
                    <td><input id="confirm-password" type="password" name="uPass" required pattern="{.5,}" placeholder="Confirm Password" style="border-radius: 7px;" />
                        <td>
                </tr>
        </table>
        <table>
            <tr>
                <div id="message" style="font-size: 1.5em;">Password can't be empty</div>
                <button disabled type="submit" id="submit" style="border-radius:7px;background-color:gainsboro;">Change Password</button>
            </tr>
            </form>
        </table>
    </div>
    </div>
</section>
{% endblock %}