{% extends "base.html" %} {% load static %} {% block content %}

<!-- section -->
<section class="inner_banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="full">
                    <h3>FeedBack</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- section -->
<div class="section layout_padding contact_section" style="background:white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="full float-right_img">
                    <img src="{% static 'images/feedback.jpg' %}" alt="forgotpass">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="contact_form">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <fieldset>
                            <div class="full field">
                                <textarea id="feedback-textarea" placeholder="YOUR FEEDBACK" style=" border-bottom: 2px solid sienna;"></textarea>
                                <input style="visibility: hidden;" id="feedback-input" type="text" name="feedback" />
                            </div>
                            <div class="full">

                                <div class="center" id="feedback-submit"><input type="submit" value="SUBMIT" style="
                                    -webkit-text-fill-color:springgreen; background:darkslategray;
                                    border-bottom: #185a6c;
                                    border-radius: 15px;
                                    width:160px;cursor: pointer;" />
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    setInterval(function() {
        document.getElementById("feedback-input").value = document.getElementById("feedback-textarea").value
    }, 100);
</script>
{% endblock %}
<!-- end section -->