{% extends 'base.html' %} {% load static %} {% block content %}
<!-- my profile -->
<section class="inner_banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="full">
                    <h3>My Profile</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section myprofile-->
<section class="contact_section layout_padding" style="
    -webkit-text-fill-color:midnightblue;
    font-size: 1.2em;
    background-size:cover;
    background-color:unset;
    background-blend-mode: color-burn;
    background-image: url('../static/images/prof3.jpg');
    margin-top: 0px;">
    <div class="container">
        <div class="container-fluid">
            <table class="table table-borderless text-light">
                <form method="POST" action="" onsubmit="alert('Profile Updated successfully')">
                    {% csrf_token %}
                    <tr style="display: flex;flex-wrap: wrap;width:fit-content">
                        <th style="width: 10em;">Username:</th>
                        <td style="display: flex;flex-wrap: wrap;">
                            <input type="text" name="uName" value="{{uName}}" style="background: white; border-bottom: 2px solid sienna;border-radius: 7px;" />
                        </td>
                    </tr>
                    <tr style="display: flex;flex-wrap: wrap;width:fit-content">
                        <th style="width: 10em;">Email:</th>
                        <td>
                            <input type="email" name="uEmail" value="{{uEmail}}" style="background: white; border-bottom: 2px solid sienna;border-radius: 7px;" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" />
                        </td>
                    </tr>
                    <tr style="display: flex;flex-wrap: wrap;width:fit-content">
                        <th style="width: 10em;">Phone no:</th>
                        <td>
                            <input type="numbers" name="uPhone" value="{{uPhone}}" minlength="10" maxlength="10 " style="background: white; border-bottom: 2px solid sienna;border-radius: 7px;" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'changepass' %} " style="-webkit-text-fill-color:darkgreen; border-bottom: 2px solid crimson; ">Change Password</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 style="background: transparent; border-radius: 7px; ">{{info}} {{score}}</h2>
                        </td>
                    </tr>
                    <tr style="display: flex;flex-wrap: wrap;">
                        <td>
                            {% for i in subjects.items %}
                            <h3 style="background: transparent; border-radius: 7px; ">{{i.0}} : {{i.1}}</h3>
                            {% endfor %}
                        </td>
                    </tr>
            </table>
            <table>
                <tr>
                    <td id="feedback-submit">
                        <button type="submit" style="border-radius: 10px; background-color:lemonchiffon;cursor: pointer;">Update Profile
                        </button>
                    </td>
                    <td> <br> <br></td>
                </tr>
                </form>
            </table>
        </div>
    </div>
</section>
{% endblock %}