{% extends "base.html" %} {% load static %}
<!-- Start Banner -->
{% block content %}
<div class="ulockd-home-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="pogoSlider" id="js-main-slider">
                <div class="pogoSlider-slide" style="background-image: url( '../static/images/main_logo2.jpg' )">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slide_text">
                                    <h3 style="-webkit-text-fill-color:beige; text-shadow:5px 5px 10px black;"><span class="theme_color" style="-webkit-text-fill-color: maroon;">HERE, WE BRING SOMETHING NEW FOR YOU . </span>
                                        <br>
                                        <h3 style="text-shadow:5px 10px 10px black;"> INTRODUCING CAREER SPECS</h3>
                                        <h4 style="-webkit-text-fill-color: maroon;text-shadow:5px 5px 10px black;"><b>FOR THE BEST</b></h4>
                                        <br>
                                        <div class="full center" id="feedback-submit">
                                            <button style="border-radius: 7px;">
                                            <a href="{% url 'fillform'  %}">
                                                <b style="-webkit-text-fill-color:saddlebrown;text-align:center;">GIVE YOUR DETAILS</b>
                                            </a>
                                            </button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pogoSlider-slide" style="background-image: url( '../static/images/main_logo2.jpg'); background-color:blanchedalmond">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slide_text">
                                    <h3 style="-webkit-text-fill-color:beige;text-shadow:5px 5px 10px black;"><span span class="theme_color" style="-webkit-text-fill-color: maroon;text-shadow:5px 5px 10px black;">CHOOSE YOUR CAREER.</span><br>SHOW YOUR SKILLS TO THE WORLD.</h3>
                                    <h4 style="-webkit-text-fill-color: maroon;text-shadow:5px 5px 10px black;">EXPLORE MORE.</h4>
                                    <br>
                                    <div class="full center" id="feedback-submit">
                                        <button style="border-radius: 7px;">
                                        <a href="{% url 'fillform'  %}">
                                            <b style="-webkit-text-fill-color:saddlebrown;text-align:center;text-shadow:1px 1px 0px black;">GIVE YOUR DETAILS</b>
                                        </a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .pogoSlider -->
        </div>
    </div>
</div>
<!-- End Banner -->
<!-- section -->
{% endblock %}